/*
   _base.scss
   bernard
   
   Created by Gareth Bishop on 2012-11-12.
   Copyright 2012 Gareth Bishop. All rights reserved.
*/

@import "compass/utilities";
@import "compass/css3";

// Colours

$border_colour: #dddddd;

$base_red: #e10d0d;

// Sizings

$page_width: 960px;

$right_bar_max_width: 240px;

$default_margin: 15px;

$fonts: Helvetica, Arial, sans-serif;

$badge_width: ($page_width - ($default_margin*2))/3;

$right_bar_width: $right_bar_max_width - 1;

$posts_width: $page_width - ($right_bar_width + $default_margin) - 1;

$default_border: 1px solid $border_colour;